<article class="post">
    <div class="title">
        <h2>{{title}} by {{user.username}}</h2>
        <p>{{text_area}}</p>
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</article>