<article class="post">
    <div class="title">
        <h2>{{title}} by {{user.username}} on {{format_date created_at}}</h2>
        <p>{{text_field}}</p>
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</article>